/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    xiaoli-dong/taxflow Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

// Global default params
params {
    // Input options
    input = null
    datatype = "short" // short|long|contig|all

    // Kraken2
    skip_kraken2 = false
    kraken2_db = "/nfs/APL_Genomics/db/prod/kraken2/k2_standard_16_GB_20260226"

    // Sylph
    skip_sylph = false
    sylph_databases = ['gtdb', 'imgvr', 'fungi']
    sylph_db_files = [
        gtdb: "/nfs/APL_Genomics/db/prod/sylph/gtdb-r232-c200-dbv1.syldb",
        globdb: "/nfs/APL_Genomics/db/prod/sylph/globdb_r226_sylph_c200.syldb",
        imgvr: "/nfs/APL_Genomics/db/prod/sylph/imgvr_c200_v0.3.0.syldb",
        uhgv: "/nfs/APL_Genomics/db/prod/sylph/uhgv_c200_dbv1.syldb",
        fungi: "/nfs/APL_Genomics/db/prod/sylph/fungi-refseq-2025-10-11-c200-dbv1.syldb"
    ]

    // Sylph-Tax
    sylphtax_databases = ['gtdb', 'imgvr', 'fungi_refseq']
    sylphtax_db_files = [
        fungi_refseq: "/nfs/APL_Genomics/db/prod/sylph-tax/fungi_refseq_2025-10-11_metadata.tsv.gz",
        globdb: "/nfs/APL_Genomics/db/prod/sylph-tax/globdb_r226_sylph_tax.tsv.gz",
        gtdb: "/nfs/APL_Genomics/db/prod/sylph-tax/gtdb_r232_metadata.tsv.gz",
        imgvr: "/nfs/APL_Genomics/db/prod/sylph-tax/IMGVR_4.1_metadata.tsv.gz",
        ocean_dna: "/nfs/APL_Genomics/db/prod/sylph-tax/ocean_dna_metadata.tsv.gz",
        soil_smag: "/nfs/APL_Genomics/db/prod/sylph-tax/soil_smag_metadata.tsv.gz",
        tara_SMAGs: "/nfs/APL_Genomics/db/prod/sylph-tax/tara_SMAGs_metadata.tsv.gz",
        uhgv_default: "/nfs/APL_Genomics/db/prod/sylph-tax/uhgv_default_metadata.tsv.gz",
        uhgv_ictv: "/nfs/APL_Genomics/db/prod/sylph-tax/uhgv_ictv_metadata.tsv.gz"
    ]

    // SingleM
    skip_singlem = false
    singlem_db = ["globdb"]
    singlem_db_files = [
        GTDB: "/nfs/APL_Genomics/db/prod/singlem/S5.4.0.GTDB_r226.metapackage_20250331.smpkg.zb",
        globdb: "/nfs/APL_Genomics/db/prod/singlem/GlobDB_r226.metapackage_v1.smpkg"
    ]

    // GTDB-TK
    skip_gtdbtk = false
    gtdbtk_db = "/nfs/APL_Genomics/db/prod/gtdbtk/current"
    skip_rrna = false
    gtdbtk_ssu_db = "/nfs/APL_Genomics/db/prod/ssu_rRNA/GTDB/ssu_all"

    // Output options
    outdir = null
    publish_dir_mode = 'copy'
    email_on_fail = null
    plaintext_email = false
    hook_url = null
    validate_params = false
    email = null
    monochrome_logs = false

    // Help options
    help = false
    version = false

    // Reporting
    trace_report_suffix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

    // Config options
    config_profile_name = null
    config_profile_description = null
}

// Load base.config
includeConfig 'conf/base.config'

// Profiles
profiles {
    debug {
        dumpHashes = true
        process.beforeScript = 'echo $HOSTNAME'
        cleanup = false
    }

    conda {
        conda.enabled = true
        conda.channels = ['conda-forge', 'bioconda']
        docker.enabled = false
        singularity.enabled = false
    }

    mamba {
        conda.enabled = true
        conda.useMamba = true
        docker.enabled = false
        singularity.enabled = false
    }

    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        conda.enabled = false
        singularity.enabled = false
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = "--bind /usr/bin/which"
        conda.enabled = false
        docker.enabled = false
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        conda.enabled = false
        docker.enabled = false
        singularity.enabled = false
    }

    slurm {
        includeConfig 'conf/slurm.config'
    }
}

// Registry settings
docker.registry = 'quay.io'
singularity.registry = 'quay.io'
apptainer.registry = 'quay.io'

// Environment variables
env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER = "/.Rprofile"
    R_ENVIRON_USER = "/.Renviron"
}

// Process settings
process.shell = ["bash", "-C", "-e", "-u", "-o", "pipefail"]

// Reporting
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name = 'xiaoli-dong/taxflow'
    homePage = 'https://github.com/xiaoli-dong/taxflow'
    description = 'Taxonomy profiling of genomics and metagenomics data'
    mainScript = 'main.nf'
    nextflowVersion = '!>=24.10.5'
    version = '1.1.0'
}
// Nextflow plugins
plugins {
    id 'nf-schema@2.3.0'
}

validation {
    //defaultIgnoreParams = ["genomes"]
    monochromeLogs = params.monochrome_logs
    help {
        enabled = true
        command = "nextflow run xiaoli-dong/nf-taxflow -profile <docker/singularity/.../institute> --input samplesheet.csv --outdir <OUTDIR>"
        fullParameter = "help_full"
        showHiddenParameter = "show_hidden"
    }
}
// Load modules.config
includeConfig 'conf/modules.config'
